.card {
    border: 1px solid #F8F8F8;
    padding: 20px;
    width: 220px;
    border-radius: 40 px;
    margin-right: 35 px;
    margin-bottom: 30px;
    margin-left: 30px;
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
  
    &:hover {
      box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
      transform: translateY(-5px);
    }
    
    span {
      font-size: 13px;
      opacity: 0.5;
      text-transform: uppercase;
    }
  
    b{
      font-size: 13px;
    }
    
    h5{
      font-weight: 400;
      font-size: 14px;
    }
  }

  .favourite {
    position: absolute;
    cursor: pointer;
  }
  .plus {
    cursor: pointer;
  }
